<!--nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Made with <i class="fa fa-heart"></i> by <a href="https://twitter.com/beeman_nl">beeman</a>
  </div>
</nav>
<div id="footer" class="page-footer2">
  <div class="container">
      <div class="row">
          <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
                  <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Redes Sociales</h5>
          <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          </div>
      </div>
  </div>
  <div class="footer-copyright">
      <div class="container">
          Todos los derechos reservados © 2016 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">Dylan Pabón</a>
      </div>
  </div>
</div-->

<div id="footer">Que hongos</div>