<div class="container mt-5">
   <h1>Pizza Form</h1>
  <form [formGroup]="form"> 

  <!--div class="form-group">
      <label for="id">ID</label>
      <input type="text"  class="form-control col-sm-1" formControlName="id" name="id" type="text" >
      
    </div-->
    <div class = "row">
        <div class="form-group col-md-6">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre">
          </div>
    </div>
    
    
    <div class = "row">
    <div class="form-group col-md-4">
      <label for="size">Tamaño</label>
      <select class="form-control" id="size" name="size" formControlName="size">
        <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
      </select>
    </div>
  </div>

  <div class = "row">
    <div class="form-group col-md-4">
      <label for="orilla">Orilla de Queso</label>
      <select class="form-control" id="orilla" name="orilla" formControlName="orilla">
        <option *ngFor="let orilla of orillaQueso" [value]="orilla">{{orilla}}</option>
      </select>
    </div>
  </div>

  <div class = "row">
    <div class="form-group col-md-4">
      <label for="forma">Forma</label>
      <select class="form-control" id="forma" name="forma" formControlName="forma">
        <option *ngFor="let forma of formas" [value]="forma">{{forma}}</option>
      </select>
    </div>
  </div>
  <!--/div-->
  <div class = "row">
      <div class="form-group col-md-6">
          <label for="ingredientes">Receta</label>
          <input type="text" class="form-control" id="ingredientes" name="ingredientes" formControlName="ingredientes">
        </div>
  </div>
    

    <button type="submit" (click)="submit()" [disabled]="form.invalid" class="btn btn-success mx-2">Submit</button>
    <button type="button" (click)="regresar()"  class="btn btn-danger">Cancelar</button>

  </form>
</div>
<!--div class="title col-md-6 col-sm-12">
    <a class="portfolio-box">
   <img src='../../assets/pizza.jpg' class="img-responsive" alt="">
   </a>
  </div-->


