/*header {
    background-image: url('../assets/wallpaper.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    text-align: center;
    color: black;
    min-height: 700px;
    width: 1000px;
    height: 800px;
  }
  header .header-content {
    position: relative;
    text-align: center;
    padding: 200px 150px 100px;
  }
  header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
  }
  
  header .header-content .header-content-inner hr {
    border-color: black;
    border-width: 3px;
    max-width: 50px;
  }
  
  header .header-content .header-content-inner p {
    color:black;
    font-size: 24px;
  }*/
  

  

  
