<!--header>
	<div class="header-content" >
    	<div class="header-content-inner">
        	<h1 id="homeHeading">Pizza Maker</h1>
        	<hr>
        	<p>Aquí podrás crear los mejores sabores de pizza jamas nunca antes vistos</p>
    	</div>
	</div>
</header-->
<div [hidden]="{{global.myGlobalVar}}" class="jumbotron paral paralsec">
	<h1 class="display-3">Pizza Maker</h1>
	<p class="lead">Deja volar tu imaginación y crea las mejores recetas de pizzas</p>
	<p class="lead">
	<a class="btn btn-info btn-lg btn-md" href="#" role="button">Crear nueva receta</a>
	</p>
</div>
<app-separator></app-separator>
<app-pizza-list></app-pizza-list>