<app-separator></app-separator>
<div class="container" hidden="true" id="loading">
		<div class="ring">
			Cargando
			<span class="ringSpan"></span>
		</div>
	</div>
<div class="alert alert-danger alert-dismissible" id="errorMessage" hidden="true">
		<button type="button" class="close" aria-label="Close" (click)="ocultarVentana(true)" style="color:red">
				<span aria-hidden="true">&times;</span>
			</button>
			<h2 class="mensaje">{{title}}</h2>
	</div>
	<div class="alert alert-danger alert-dismissible" id="eraseMessage" hidden="true">
		<button type="button" class="close" aria-label="Close" (click)="ocultarVentana(false)" >
				<span aria-hidden="true">&times;</span>
			</button>
			<h2 class="mensaje">{{title2}}</h2>
	</div>
	<div class="alert alert-success" role="alert" id="successMessage" hidden="true" >
		<button type="button" class="close" aria-label="Close" (click)="ocultarSuccess()" style="color:green" >
				<span aria-hidden="true">&times;</span>
			</button>
			<h2 class="mensaje">{{title2}}</h2>
	</div>
<section  class="no-padding portfolio" id="pizzaList">
	<div class="container-fluid">
	  <div class="row ">
		<div class="title col-md-2 col-sm-12">
		  <div>OBSERVA TUS</div>
		  <div class="title-color">RECETAS!</div>
		</div>
  
		<div class="title col-md-10 col-sm-12">    
			<div id="emptyMessage" hidden="true">
				<h1>
					No tienes recetas creadas
				</h1>
				<h2>
					Pasa a la sección de creación de recetas y da rienda suelta a tu imaginacion
				</h2>
			</div>   
		  <div class="row no-gutter popup-gallery">
			<!-- Iteramos por cada elemento en dogs-->
			<div class="col-lg-4 col-sm-4" *ngFor="let index of keys"> 
			  <a class="portfolio-box">
				<img src='../../assets/wallpaper.jpg' class="img-responsive" alt="pizza">
				<div class="portfolio-box-caption">
				  <div class="portfolio-box-caption-content">
					<div class="title">
					 {{pizzas[index].nombre}}
					</div>
					<div class="description">
            Tamaño:
            {{pizzas[index].size}}
					</div>
					<div class="description">
						Tiene orilla de queso:
						{{pizzas[index].orilla}}
					</div>
          <div class="description">
              Forma:
              {{pizzas[index].forma}}
						</div>
            <div class="description" >
                {{pizzas[index].ingredientes}}
              </div>
          <div class="buttons">
            <button mat-raised-button (click)="Modificar(pizzas[index])" type="button" class="btn btn-outline-light mx-1">Modificar</button>
            <button type="button" (click)="openPromptModal(pizzas[index])" class="btn btn-outline-light">Eliminar</button>
          </div>
        </div>
        </div>
			  </a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	</section>
	